* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: 86vh;
}

#img-logo:hover {
    border: 1px solid white;
}

.navbar-nav a:hover {
    background-color: rgba(205, 46, 104, 0.767) !important;
}

#index-title {
    background-color: rgba(205, 46, 104, 0.767);
}

#section-cards {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card-img-top {
    height: 10rem;
    border-radius: 5px;
}

.card {
    background-color: rgba(151, 11, 99, 0.507) !important;
    box-shadow: 5px 5px 10px 1px black;
}

.card:hover {
    cursor: pointer;
    scale: calc(1.05);
    transition: all ease-in-out .2s;
}

.card-body a {
    background-color: rgba(245, 245, 245, 0.671);
}

.btn {
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.409);
}

.icon:hover {
    border: 2px solid whitesmoke;
    transition: all ease-in-out .2s;
    border-radius: 5px;
    padding: .2rem;
}

form {
    border: .3rem solid rgba(205, 46, 104, 0.767);
    box-shadow: 5px 5px 10px 1px black;
    width: 80%;
    margin: 1rem auto;
}

.form-control {
    resize: none;
}

#burguer {
    color: white;
    background-color: rgba(214, 47, 122, 0.566);
}

#submit-button:hover {
    color: white !important;
}

#detail-section {
    min-height: 80vh;
}

.card-img {
    background-color: transparent !important;
    box-shadow: 5px 5px 10px 1px black;
    border-radius: 1rem !important;
}

.card-img img {
    border-radius: .5rem;
}

#body-card-detail {
    background-color: transparent !important;
    box-shadow: 5px 5px 10px 1px black;
    border-radius: 1rem !important;
}

#text-detail {
    text-shadow: 1px 1px 2px rgba(205, 46, 104, 0.767);
}

#title-card {
    text-shadow: 1px 1px 2px rgba(205, 46, 104, 0.767);
}

#category-detail {
    text-shadow: 1px 1px 2px rgba(205, 46, 104, 0.767);
}

#place-detail {
    text-shadow: 1px 1px 2px rgba(205, 46, 104, 0.767);
}

#capacity-detail {
    text-shadow: 1px 1px 2px rgba(205, 46, 104, 0.767);
}

#assistance-detail {
    text-shadow: 1px 1px 2px rgba(205, 46, 104, 0.767);
}

#estimate-detail {
    text-shadow: 1px 1px 2px rgba(205, 46, 104, 0.767);
}

table{
    background-color: rgba(205, 46, 104, 0.443);
    box-shadow: 5px 5px 10px 1px black;
}

td {
    font-weight: 500;
}

tr,
th,
td {
    border: 3px solid white !important;
    height: 2rem;
    padding: 1rem;
}

footer {
    height: 100%;
}


/* Media Queries : 320px -  */
@media (min-width: 250px) and (max-width: 474px) {
    #category-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #past-events {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #upcoming-events {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #home-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }
}

@media (min-width: 475px) and (max-width: 720px){
    #category-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #past-events {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #upcoming-events {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #home-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}